<div class="d-flex flex-row mb-3">
  <div class="mx-1">総合評価</div>
<div id="total_star_<%= record_tea_leafe.id %>"></div>
</div>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#total_star_<%= record_tea_leafe.id %>');
  if (elem == null) return;

  elem.innerHTML = "";
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= record_tea_leafe.total_star %>",
    readOnly: true,
  };
  raty(elem, opt);
});
</script>

<div class="d-flex flex-row mb-3">
  <div class="mx-1">香り</div>
<div id="scent_star_<%= record_tea_leafe.id %>"></div>
</div>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#scent_star_<%= record_tea_leafe.id %>');
  if (elem == null) return;

  elem.innerHTML = "";
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= record_tea_leafe.scent_star %>",
    readOnly: true,
  };
  raty(elem, opt);
});
</script>

<div class="d-flex flex-row mb-3">
  <div class="mx-1">甘み</div>
<div id="sweet_star_<%= record_tea_leafe.id %>"></div>
</div>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#sweet_star_<%= record_tea_leafe.id %>');
  if (elem == null) return;

  elem.innerHTML = "";
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= record_tea_leafe.sweet_star %>",
    readOnly: true,
  };
  raty(elem, opt);
});
</script>

<div class="d-flex flex-row mb-3">
  <div class="mx-1">渋み</div>
<div id="astringency_star_<%= record_tea_leafe.id %>"></div>
</div>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#astringency_star_<%= record_tea_leafe.id %>');
  if (elem == null) return;

  elem.innerHTML = "";
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= record_tea_leafe.astringency_star %>",
    readOnly: true,
  };
  raty(elem, opt);
});
</script>

<div class="d-flex flex-row mb-3">
  <div class="mx-1">清涼感</div>
<div id="fresh_star_<%= record_tea_leafe.id %>"></div>
</div>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#fresh_star_<%= record_tea_leafe.id %>');
  if (elem == null) return;

  elem.innerHTML = "";
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= record_tea_leafe.fresh_star %>",
    readOnly: true,
  };
  raty(elem, opt);
});
</script>

<div class="d-flex flex-row mb-3">
  <div class="mx-1">飲みやすさ</div>
<div id="easy_star_<%= record_tea_leafe.id %>"></div>
</div>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#easy_star_<%= record_tea_leafe.id %>');
  if (elem == null) return;

  elem.innerHTML = "";
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= record_tea_leafe.easy_star %>",
    readOnly: true,
  };
  raty(elem, opt);
});
</script>
