<div class="card my-4 mx-auto" style="max-width: 700px;">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h5>Tea Review</h5>
        <div id="favorite_tea_btn_<%= record_tea_leafe.id %>" >
          <%= render 'public/favorites/tea_favorite', record_tea_leafe: record_tea_leafe %>
        </div>
    </div>
    <div class="d-flex justify-content-end">
      投稿者:<%= link_to record_tea_leafe.user.name, users_record_path(record_tea_leafe.user) %>さん|
      <%= record_tea_leafe.created_at.strftime('%Y/%m/%d') %>
      <% if record_tea_leafe.user == current_user %>
        <% if record_tea_leafe.release %>
          <span >|公開</span>
        <% else %>
          <span class="text-black-50">|非公開</span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card-main px-3">
    <div class="row">
      <div class="col-lg-5 mt-4">
        <p><%= image_tag record_tea_leafe.get_image(250,167) %></p>
          <%= render 'public/record_tea_leaves/star_result', record_tea_leafe: record_tea_leafe %>
      </div>
      <div class="card-body">
          <h5 class="card-title mb-2">商品名</h5>
        <div class="text-wrap" style="width: 20rem;">
        　<h5><%= record_tea_leafe.item_name %></h5>
        </div>
        <div class="text-wrap mb-2" style="width: 20rem;">
          <p class="card-text"><span class="shop-price">ショップ名</span>　<%= record_tea_leafe.shop_name %></p>
        </div>
    　　    <p class="card-text"><span class="shop-price">価格</span>　<%= record_tea_leafe.price.to_s(:delimited) %>円(税込/100gあたり)</p>
        <div class="border-top border-bottom py-1 mb-3" style="color: #000;">
          <% @record_tea_leafe_tags.each do |tag| %>
            <i class="fa-sharp fa-solid fa-tag"></i>
            <%= link_to tag.name, search_teatags_path(tag_id: tag.id) %>
          <% end %>
        </div>
        <div class="border rounded p-2" style="height: 200px">
          <p class="shop-price">レビュー</p>
          <p class="card-text"><%= record_tea_leafe.review %></p>
        </div>
        <div class="d-flex justify-content-around mt-3">
          <% if record_tea_leafe.user == current_user %>
            <%= link_to 'Edit', edit_record_tea_leafe_path(record_tea_leafe), class: "btn btn-sm btn-outline-success" %>
            <%= link_to 'Destroy', record_tea_leafe, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger"%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="border-top py-1 mb-3" style="color: #000;"></div>
    <div id="tea_comment">
      <%= render 'public/comments/tea_comment', record_tea_leafe: record_tea_leafe, comment: comment %>
    </div>
  </div>
</div>
