<h5 class="h5-comment mb-4">Comment</h5>
  <% record_tea_leafe.comments.each do |comment| %>
<div class="row justify-content-start mt-2 mb-2">
  <div class="col-12">
    <div class="balloon-009">
      <%= image_tag comment.user.get_profile_image(35,35) %>
    <p><%= comment.comment %><br>
      <span class="d-flex justify-content-end">
        <%= comment.user.name %> | <%= comment.created_at.strftime('%Y/%m/%d') %>
      </span>
    </p>
    <div class="align-self-end">
      <% if comment.user == current_user %>
        <%= link_to "削除", record_tea_leafe_comment_path(comment.record_drinkable, comment), method: :delete, remote: true, class: "btn btn-sm btn-outline-danger" %>
      <% end %>
    </div>
    </div>
  </div>
</div>
<% end %>
<div class="d-flex align-items-center justify-content-center">
  <div class="col-12 mt-4 mb-3 mx-auto">
    <h6 class="h5-comment">コメントをする</h6>
      <%= render 'layouts/errors', obj: comment %>
      <%= form_with model: [record_tea_leafe, comment], local: false do |f| %>
        <%= f.text_area :comment, rows: '5', style: "width:70%", placeholder: "コメントをここに", required: true %><br>
        <%= f.submit "送信する", class: "btn btn-sm btn-outline-info" %>
      <% end %>
  </div>
</div>
