<div class="container w-75">
  <div class="background-board py-3 px-5 my-4">
    <div class="d-flex align-items-center justify-content-between">
      <h4 class="h4-review mb-5">タグが"<%= @tag.name %>"のTea Review</h4>
    </div>
        <table class='table table-hover table-light-0 margin-y'>
      <thead>
        <tr>
          <th class="bg-brown">投稿日時</th>
          <th class="bg-brown">投稿者</th>
          <th class="bg-brown">商品名</th>
          <th class="bg-brown">ショップ名</th>
          <th class="bg-brown">公開/非公開</th>
        </tr>
      </thead>
      <tbody>
        <% @record_tea_leaves.each do |record_tea_leafe| %>
        <tr>
          <td><%= link_to record_tea_leafe.created_at.strftime('%Y/%m/%d'), admin_record_tea_leafe_path(record_tea_leafe.id) %></td>
          <td><%= link_to record_tea_leafe.user.name, admin_record_tea_leaves_path(record_tea_leafe.user.id) %></td>
          <td><%= record_tea_leafe.item_name %></td>
          <td><%= record_tea_leafe.shop_name %></td>
          <td>
            <% if record_tea_leafe.release %>
              <span>公開</span>
            <% else %>
              <span>非公開</span>
            <% end %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @record_tea_leaves %>
  </div>
</div>
