<div class="container w-75">
  <div class="margin-y">
    <div class="d-flex align-items-center justify-content-between">
      <h4>Tea Review</h4>
    </div>

<table class='table'>
  <tr>
    <td>name</td>
    <td><%= @record_tea_leafe.user.name %></td>
  </tr>
  <tr>
    <td>商品名</td>
    <td><%= @record_tea_leafe.item_name %></td>
  </tr>
  <tr>
    <td>ブランド名</td>
    <td><%= @record_tea_leafe.brand_name %></td>
  </tr>
    <tr>
    <td>価格</td>
    <td><%= @record_tea_leafe.price.to_s(:delimited) %>円(税込)</td>
  </tr>
  <tr>
    <td>タグ</td>
    <td>
      <% @record_tea_leafe_tags.each do |tag| %>
      <i class="fa-sharp fa-solid fa-tag"></i>
      <%= link_to tag.name, search_teatags_path(tag_id: tag.id) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>評価</td>
    <td><%= render 'public/record_tea_leaves/star_result', record_tea_leafe: @record_tea_leafe %></td>
  </tr>
  <tr>
    <td>レビュー</td>
    <td><%= @record_tea_leafe.review %></td>
  </tr>
  <tr>
    <td>レビュー</td>
    <td>
      <% if @record_tea_leafe.release %>
        <span>公開</span>
      <% else %>
        <span>非公開</span>
      <% end %>
      </td>
  </tr>
</table>
    <div class="d-flex justify-content-around">
      <%= link_to "編集する", edit_admin_record_tea_leafe_path(@user), class: "btn btn-success" %>
      <%= link_to "レビュー一覧を見る", admin_path, class: "btn btn-primary" %>
    </div>