  <div class='container'>
  	<div class='row'>
    	<div class='mx-auto'>
<div class="search_form">
  <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
  <%=f.select :range, options_for_select([['Coffee'], ['Tea']]) %>
  <%= f.select :search, options_for_select([["商品名","item_name"], ["店名","shop_name"]]) %>
  <%= f.text_field :word, placeholder: 'Search' %>
  <%= f.submit "検索" %>
  <% end %>
</div>
    	</div>
    </div>
  </div>