<div class="card mb-3" style="max-width: 700px;">
  <div class="card-header">
    <%= record_coffee.item_name %>
    <%= record_coffee.user.name %>
    <%= record_coffee.created_at.strftime('%Y/%m/%d') %>
    <div id="favorite_coffee_btn_<%= record_coffee.id %>" >
      <%= render 'public/favorites/coffee_favorite', record_coffee: record_coffee %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p><%= image_tag record_coffee.get_image(250,167) %></p>
        <%= render 'public/record_coffees/star_result', record_coffee: record_coffee %>
    </div>
    <div class="col-lg-8">
      <div class="card-body">
        <h5 class="card-title">Coffee</h5>
          <p class="card-text"><%= record_coffee.item_name %></p>
            <ul class="list-group list-group-flush border-0">
              <li class="list-group-item">
                <%= record_coffee.brand_name %>
              </li>
              <li class="list-group-item">
                <%= record_coffee.price.to_s(:delimited) %>円(税込)
              </li>
              <li class="list-group-item">
                <% @record_coffee_tags.each do |tag| %>
                <i class="fa-sharp fa-solid fa-tag"></i>
                <%= link_to tag.name, search_coffeetags_path(tag_id: tag.id) %>
                <% end %>
          　　  </li>
              <li class="list-group-item">
                <div class="border border-secondary w-100 p-3">
                <%= record_coffee.review %>
                </div>
                <% if record_coffee.user == current_user %>
                  <%= link_to 'Edit', edit_record_coffee_path(record_coffee), class: "btn btn-sm btn-success" %>
                  <%= link_to 'Destroy', record_coffee, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div id="coffee_comment">
          <%= render 'public/comments/coffee_comment', record_coffee: record_coffee, comment: comment %>
          </div>
        </li>
      </ul>
      </div>
    </div>
  </div>
</div>
