    <div class="card mb-3" style="max-width: 700px;">
      <div class="card-header">
        <% if @record_coffee.favorited_by?(current_user) %>
          <%= link_to record_coffee_favorites_path(@record_coffee), method: :delete do %>
        ♥<%= @record_coffee.favorites.count %>
          <% end %>
        <% else %>
          <%= link_to record_coffee_favorites_path(@record_coffee), method: :post do %>
        ♡<%= @record_coffee.favorites.count %>
          <% end %>
        <% end %>
        <%= record_coffee.item_name %>
        <%# record_coffee.user_name %>
        <%= record_coffee.created_at.strftime('%Y/%m/%d') %>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <p><%= image_tag record_coffee.get_image(250,167) %></p>
          <%= render 'star_result', record_coffee: @record_coffee %>
        </div>
        <div class="col-lg-8">
          <div class="card-body">
            <h5 class="card-title"><%= record_coffee.category.name %></h5>
            <p class="card-text"><%= record_coffee.item_name %></p>
            <%= record_coffee.brand_name %>
            <%= record_coffee.price %>
            <% @tag_list.each do |list|%>
              <i class="fa-sharp fa-solid fa-tag"></i>
              <%=link_to list.name, search_tag_coffee_path(tag_id: list.id) %>
            <% end %>
            <%= record_coffee.review %>
          <% if @record_coffee.user == current_user %>
            <td><%= link_to 'Edit', edit_record_coffee_path(@record_coffee), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @record_coffee, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>

            <div>
              <p>comment (<%= @record_coffee.comments.count %>)</p>
              <% @record_coffee.comments.each do |comment| %>
              <%= comment.user.name %>
              <%= comment.comment %>
                <% if record_coffee.user == current_user %>
                  <%= link_to "削除", record_coffee_comment_path(comment.record_coffee, comment), method: :delete %>
                <% end %>
              <% end %>
            </div>
            <div>
              <%= form_with model: [@record_coffee, @coffee_comment] do |f| %>
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
              <%= f.submit "送信する" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= record_coffee.item_name %></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
