<div id="total_star_<%= record_coffee.id %>"></div>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#total_star_<%= record_coffee.id %>');
  if (elem == null) return;

  elem.innerHTML = "";
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= record_coffee.total_star %>",
    readOnly: true,
  };
  raty(elem, opt);
});
</script>
