<div class='container px-3 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/records/sidebar', record: @record %>
    </div>

    <div class='col-md-9 py-5'>
    <div class='background-record ml-2 py-3 px-5'>
        <h4 class="h4-review">Coffee Review</h4>
      <div class="d-flex justify-content-end mx-2">
        <%= link_to new_record_coffee_path do %>
          <i class="fa-solid fa-circle-plus fa-2x" style="color: #401910;"></i>
        <% end %>
        <%= link_to favorites_coffee_path do %>
          <i class="fa-solid fa-heart  fa-2x" style="color: #bf2626;"></i>
        <% end %>
      </div>

<%= link_to '新しい順', record_coffees_path(latest: "true") %>
|<%= link_to '評価の高い順', record_coffees_path(star_count: "true") %>
<div class="mx-auto">
      <% @record_coffees.each do |record_coffee| %>
        <%= render 'public/record_coffees/index', record_coffee: record_coffee %>
      <% end %>
    </div>
  </div>
  </div>
</div>
