<div class='container px-3 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/records/sidebar', record: @record %>
    </div>


    <div class='col-md-8 py-5'>
      <div class='background-record ms-2 p-2'>

  <%= render 'layouts/errors', obj: @record_coffee %>

      <h4 class="h4-review">投稿フォーム</h4>
        <%= form_with model: @record_coffee do |f| %>
          <%= render 'coffee_form', f: f %>
        <div class="form-group">
      <%= f.submit "投稿"%>
  </div>
<% end %>

    </div>
  </div>
</div>
