<div class="container w-75">
  <div class="margin-y">
    <div class="d-flex align-items-center justify-content-between">
      <h4>Coffee投稿一覧</h4>
    </div>
    <%= link_to "Coffee", admin_record_coffees_path %> | <%= link_to "Tea", admin_record_tea_leaves_path %>
    <table class='table table-hover table-light margin-y'>
      <thead>
        <tr>
          <th class="bg-brown">投稿日時</th>
          <th class="bg-brown">投稿者</th>
          <th class="bg-brown">商品名</th>
          <th class="bg-brown">ブランド名</th>
          <th class="bg-brown">公開/非公開</th>
        </tr>
      </thead>
      <tbody>
        <% @record_coffees.each do |record_coffee| %>
        <tr>
          <td><%= link_to record_coffee.created_at.strftime('%Y/%m/%d'), admin_record_coffee_path(record_coffee.id) %></td>
          <td><%= link_to record_coffee.user.name, admin_record_coffees_path(record_coffee.user) %></td>
          <td><%= record_coffee.item_name %></td>
          <td><%= record_coffee.brand_name %></td>
          <td>
            <% if record_coffee.release %>
              <span>公開</span>
            <% else %>
              <span>非公開</span>
            <% end %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%#= paginate @orders %>
</div>
