<div class="container w-75">
  <div class="background-board py-3 px-5 my-4">
      <h4 class="h4-create mb-5">ユーザー登録情報編集</h4>
        <%= render 'layouts/errors', obj: @user %>
      <div class="col-10 mx-auto">
        <%= form_with model: @user, url: admin_user_path do |f| %>
          <div class="form-group">
            <div class="d-flex flex-row mb-3">
              <div class="col-2">
                <%= f.label :name %>
              </div>
              <div class="col-6">
                <%= f.text_field :name, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex flex-row mb-3">
              <div class="col-2">
                <%= f.label :image %>
              </div>
              <div class="col-6">
                <%= f.file_field :profile_image, class: "form-control-file", accept: 'image/*' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex flex-row mb-3">
              <div class="col-2">
                <%= f.label :email %>
              </div>
              <div class="col-6">
                <%= f.text_field :email, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="d-flex padding-sm-y">
            <p class="label-width label-name">会員ステータス</p>
            <%= f.radio_button :is_deleted, false %>
          　<%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
          　<%= f.radio_button :is_deleted, true %>
          　<%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
          </div>
      </div>
      <div>
        <%= f.submit '変更を保存' ,class: "btn btn-success" %>
      </div>
        <% end %>
      </div>
  </div>
</div>