<div class="container w-75">
  <div class="background-board py-3 px-5 my-4">
      <h4 class="h4-create mb-5">ユーザー登録情報編集</h4>
        <%= render 'layouts/errors', obj: @user %>
      <div class="col-10 mx-auto">
        <%= form_with model: @user, url: admin_user_path do |f| %>
          <div class="form-group">
            <div class="d-flex flex-row mb-3">
              <div class="col-3">
                <%= f.label :name, 'ユーザー名' %>
              </div>
              <div class="col-6">
                <%= f.text_field :name, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex flex-row mb-3">
              <div class="col-3">
                <%= f.label :image, 'アイコン' %>
              </div>
              <div class="col-6">
                <%= f.file_field :profile_image, class: "form-control-file", accept: 'image/*' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex flex-row mb-3">
              <div class="col-3">
                <%= f.label :email, 'メールアドレス'%>
              </div>
              <div class="col-6">
                <%= f.text_field :email, class: "form-control" %>
              </div>
            </div>
            <div class="d-flex flex-row mb-3">
              <div class="col-3">
                <p class="label-width label-name ">ユーザーステータス</p>
              </div>
              <div class="col-6">
                <div class="d-flex justify-content-around">
                <span class="margin-x">
                  <%= f.radio_button :is_deleted, false %>
                　<%= f.label :is_deleted, "有効", {value: :false} %>
                </span>
                <span class="ml-5">
                  <%= f.radio_button :is_deleted, true %>
                　<%= f.label :is_deleted, "退会", {value: :true} %>
                </span>
                </div>
              </div>
            </div>
          </div>
      <div class="form-group">
        <%= f.submit '変更を保存', class: "btn btn-success  mx-auto my-3 d-block" %>
      </div>
        <% end %>
      </div>
  </div>
</div>