<div class="container w-75">
  <div class="background-board py-3 px-5 my-4">
    <div class="d-flex align-items-center justify-content-between">
      <h4 class="h4-review mb-5"><%= @user.name %>さんの登録詳細</h4>
    </div>
    <div class="col-10 mb-3 mx-auto">
      <table class='table table-hover table-light-0 margin-y'>
        <tr>
          <td>ユーザーID</td>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <td>ユーザー名</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>ユーザーステータス</th>
          <td>
            <% if @user.is_deleted %>
              <strong class="text-danger">退会</strong>
            <% else %>
              <strong class="text-success">有効</strong>
            <% end %>
          </td>
        </tr>
    </table>

    <div class="d-flex justify-content-around">
      <%= link_to "編集する", edit_admin_user_path(@user), class: "btn btn-success" %>
      <%#= link_to "レビュー一覧を見る", admin_record_coffees_path(record_coffees.user), class: "btn btn-primary" %>
    </div>
  </div>
</div>
