<%= link_to 'New Record(Coffee)', new_record_coffee_path %>
<%= link_to 'New Record(Tea)', new_record_tea_leafe_path %>
<%= link_to 'Favorite', favorites_coffee_path %>
<%= link_to 'Favorite', favorites_tea_path %>

<%= link_to 'Coffee Review一覧', users_record_path(@user) %>

    <%= link_to users_setting_edit_path(@user), class: "btn btn-outline-secondary" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>

<div class="color-test">
  aaaaa
</div>
<% unless @user.guest_user? %>
<%= link_to "退会する", users_confirm_path, class: "btn btn-danger" %>
<% end %>