<!DOCTYPE html>
<html>
  <head>
    <title>CafeRec</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximun-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/192d4374d3.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="cover-img mx-auto" style="background-image:url(<%= asset_path 'top2.jpg' %>);">
      <div class="d-flex flex-column vh-100">
    <%= render 'layouts/header' %>

    <main class="mb-auto">
      <% if flash[:notice].present? %>
    <div class="error_messages text-center margin-y">
      <%= flash[:notice]%>
    </div>
      <% end %>
    <%= yield %>
    </main>
    <footer class="text-white pt-3 pb-2"  style="background-color: #40290E;">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-12 px-5">
            <div class="d-flex justify-content-center mb-2">
              <%= link_to '当サイトについて', about_path, class:"text-white small mr-3" %>
              <%= link_to 'プライバシーポリシー', privacy_policy_path, class:"text-white small" %>
            </div>
            <p class="small text-center"><i class="fa-sharp fa-regular fa-copyright"></i>CopyRight Cafe rec.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
