<!DOCTYPE html>
<html>
  <head>
    <title>CafeRec</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximun-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/192d4374d3.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <%= render 'layouts/header' %>

    <main class="mb-auto">
      <% if flash[:notice].present? %>
    <div class="text-center margin-y">
      <%= flash[:notice]%>
    </div>
      <% end %>
    <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-3 pb-2">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>Cafe rec.</p>
          </div>
          <div class="col-md-8">
            <ul class="p-0 list-unstyled">
              <li>
                <a href="" title="About" class="text-white-50">会社概要</a>
              </li>
              <li>
                <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
